<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Pictionary App</title>
</head>

<body>
    <div>
        <div>
            <h1>Pictionary App</h1>
        </div>
        <div class="container">
            <div class="box" id="createRoomBox">
                <h2>Create Room</h2>
                <label for="createUsername">Username:</label>
                <input type="text" id="username" placeholder="Enter your username">
                <button id="createroom">Create Room</button>
            </div>

            <div class="box" id="joinRoomBox">
                <h2>Join Room</h2>
                <label for="joinUsername">Username:</label>
                <input type="text" id="Username" placeholder="Enter your username">

                <label for="roomID">Room ID:</label>
                <input type="text" id="roomID" placeholder="Enter the room ID">
                <button onclick="joinRoom()">Join Room</button>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var createroom_button = document.getElementById('createroom');
        socket.on('username', function (username) {
            console.log(username);
            window.location.href = "/draw";
        });
        createroom_button.addEventListener('click', (e) => {
            e.preventDefault();
            var username = document.getElementById('username').value;
            if (username) {
               socket.emit('username', username);
            }
            else {
                alert("Enter Username");
            }
        })

    </script>
    <script>
        function joinRoom() {
            var username = document.getElementById('Username').value;
            var roomid = document.getElementById('roomID').value;
            if (username && roomid) {
                window.location.href = "/draw"
            }
            else if (!username) {
                alert("Enter username");
            }
            else {
                alert("Enter room id");
            }
        }
    </script>

</body>

</html>