<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing-Board</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    #div {
        width: 80%; 
        max-width: 500px; 
        height: 500px;
        border: 1px solid black;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawingboard.js/0.4.2/drawingboard.min.js" ></script>

<body>
    <div id="div"></div>
</body>
<script>
    var customBoard = new DrawingBoard.Board('div', {
	size: 30,
    color:'#ff0',
	controls: [
        'Color',
		{ Size: { type: "range" } },
		{ Navigation: { back: false, forward: false } },
		'DrawingMode'
	],
	webStorage: 'local'
    })
</script>
</html>